*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color: #555;
}

.scroll{
    position:relative;
    display:flex;
    width:700px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(90deg,transparent,
    #fff 20%,#fff 80%,transparent)
}

.scroll div{
    white-space: nowrap;
    animation: animate var(--t) linear infinite;
    animation-delay: calc(var(--t) * -1);
}

.scroll div:nth-child(2){
    animation: animate2 var(--t) linear infinite;
    animation-delay: calc(var(--t) / -2);
}


@keyframes animate{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes animate2{
    0%{
        transform:translateX(0);
    }
    100%{
        transform: translateX(-200%);
    }
}

.scroll div span{
    display: inline-flex;
    margin:10px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    background:#333;
    color:#fff;
    padding: 0.3rem 0.7rem;
    border-radius: 0.35rem;
    transition:0.5s;
}

.scroll div span:hover{
    background-color: #4caf50;
    cursor:pointer;
}

